.comp1 {
  min-height: 200px;
  width: 500px;
  background-color: brown;
  color:white;
}
.comp2 {
  min-height: 200px;
  width: 500px;
  background-color: gray;
  color:white;
}
.errorline {
  height: 100%;
  background-color: red;
}
.err1 {
  width: 300px;
  height: 200px;
  background-color: pink;
  font-size: 20px;
}
.mflex {
  display: flex;
}
.forCustomHook{
  min-height:300px;
}
